.App {
  text-align: center;
  background: #000000;
  background-image: url("website-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.container {
  margin: auto;
  background: rgba(0, 0, 0, .5)
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.Spotify-logo {
  animation: 1s flash ease-in;
  animation-fill-mode: forwards;
  pointer-events: none;
  width: 10%;
}


body {
  align-items: center;
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

body {
  color: #1dfabb;
}
a {
  text-decoration: underline;
}
a:visited {
  color: pink;
}

.login-content {
  animation: 0.5s flash-into-position ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes flash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes flash-into-position {
  from {
    margin-top: 50px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
