.music-player {
  margin: auto;
  position:fixed;
  overflow: hidden;
  display: block;
  bottom: 0;
  height: 11vh;
  width: 100%;
  background-color: black;
}

.player-actions {
  text-align: center;
  width: 50%;
  margin: auto;
  height: middle;
}

.action-button {
  width: 50px;
  background-color: inherit;
  margin: 15px;
  border: none;
}
