.music-player {
  margin: auto;
  position:fixed;
  overflow: hidden;
  display: block;
  bottom: 0;
  height: 11vh;
  width: 100%;
  background-color: black;
}

.player-actions {
  text-align: center;
  width: 50%;
  margin: auto;
}
.currently-playing-info {
  float:left;
}

.action-button {
  width: 50px;
  background-color: inherit;
  margin: 15px;
  border: none;
}

.currently-playing {
  color: white;
  float: left;
  padding: 1%;
  width: 34%;
}

.player-image {
  float: left;
  width: 70px;
}
