.Playlists-container {
  margin: auto;
  overflow: auto;
  width: 80%;
}

.Playlist-container {
  overflow: auto;
  background-color: black;
  transition: background-color 0.5s;
  cursor: pointer;
}

.playlist-header {
  width: 100%;
  overflow: hidden;
}
.play-button {
  width: 5%;
}

.Playlist-container:hover {
  background-color: #3d3a37;
}

.Playlist-image-container {
  float: left;
  max-height: 100%;
  width: 25%;
  margin: 5px;
}

.Playlist-image {
  width: 100%;
  margin: 1px;
  float: left;
}

.Playlist-description {
  margin-left: 1%;
  float: left;
  width: 70%;
}

.track-image {
  width: 5%;
  float: left;
}

.track-content {
  float: left;
  width: 80%;
  padding-left: 5px;
}

.track-url {
  float: left;
  width: 5%
}

.track-container {
  overflow: hidden;
  transition: background-color 0.5s;
  width: 100%;
  padding: 5px;
  border-bottom: solid 1px #3d3a37;
}

.track-container:hover {
  background-color: #3d3a37;
}

.track-title {
  margin: 0;
}

img {
  width: 100%;
}
