.UserProfile-container {
  overflow: auto;
  margin: 10px;
}

.UserProfile-image-container {
  width: 25%;
  float: left;
}

.UserProfile-content {
  color: #1ed761;
  float: left;
  overflow: auto;
}

.UserProfile-image {
  border: solid #1ed761;
  border-radius: 5px;
}
