.UserProfile-container {
  overflow: auto;
  margin: auto;
  width: 70%;
}

.UserProfile-image-container {
  width: 25%;
  float: left;
}

.UserProfile-content {
  color: #1ed761;
  float: left;
  overflow: auto;
}

.UserProfile-image {
  border-radius: 100%;
  height: 100px;
  object-fit: cover;
  width: 100px;
}
