.music-player {
  margin: auto;
  position: absolute;
  display: grid;
  bottom: 0;
  height: 13vh;
  width: 100%;
  background-color: #0c1110;
  z-index: 2;
  grid-template-columns: 25% 50% 25%

}


.player-actions {
  text-align: center;
  width: 100%;
}

.currently-playing {
  color: white;
  padding: 10px;
  display: grid;
  grid-template-columns: 25% 75%;
}


.currently-playing-info {
  padding: 0 0 0 5px;
  float: left;
}


.action-button {
  width: 50px;
  background-color: inherit;
  margin: 15px;
  border: none;
  overflow: visible;
}

.player-image {
  float: left;
  width: 100%;
}

.current-device {
  color: orange;
  padding: 10px;
}

.airplay-icon {
  width: 25px;
}

.device-list {
  background-color: #1c2120;
  border-radius: 5px;
  color: grey;
  position: absolute;
  bottom: 0;
  padding: 5px;
}

@media (max-width: 978px) and (max-width: 842px) {
  .currently-playing {
    color: white;
    float: left;
    padding: 5px;
    overflow: visible;
  }
  .currently-playing {
    grid-template-columns: 33% 66%;
  }

}

@media(max-width: 842px) and (max-width: 401px) {
  .currently-playing {
    grid-template-columns: 100%;
  }
}

@media (max-width: 400px) {
  .action-button {
    width: 50px;
    margin: 2px;
    overflow: visible;
  }
  .player-actions {
    margin-top: 20px;
  }
  .currently-playing-image {
    display: none;
  }
  .currently-playing {
    grid-template-columns: 100%;
    font-size: 0.8em;
  }
  .currently-playing-info {
    padding: 0;
    font-size: 0.8em;
  }
  .current-device {
    font-size: 0.8em;
    overflow: scroll;
  }
  .player-actions {
    overflow: visible;
  }

  .currently-playing-track,
  .currently-playing-artist {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .music-player {
    height: 14vh;
  }
}
.currently-playing-artist {
    text-decoration: underline;
  }