.details-container {
  position: absolute;
  overflow: auto;
  right:0;
  width: 25%;
  padding: 10px;
  background-color: #1c2120;
  height: 88vh;
}

.icon {
  width: 2vh;
  cursor: pointer;
  margin: 2px;
}

@media (max-width: 978px) {
  .details-container {
    padding: 5px;
    width: 33%;
    height: 86vh;
  }
}
