.details-container {
  overflow-x: hidden;
  overflow-y: auto;
  
  width: 25vw;
  background-color: #1c2120;
  height: 87vh;
}

.icon {
  width: 2vh;
  cursor: pointer;
  margin: 2px;
}

@media (max-width: 978px) {
  .details-container {
    padding: 5px;
    width: 33%;
    height: 86vh;
  }
}
