.UserProfile-container {
  overflow: auto;
  margin: auto;
  width: 80%;
  padding: 2%
}

.UserProfile-image-container {
  width: 25%;
}

.UserProfile-content {
  overflow: auto;
}

.UserProfile-image {
  border-radius: 100%;
  height: 100px;
  object-fit: cover;
  width: 100px;
}
