.Playlists-container {
  margin: auto;
  overflow: auto;
  display: grid;
  width: 80%;
  grid-gap: 10px;
  grid-template-columns: 30% 30% 30%;
}

.Playlist-container {
  cursor: pointer;
  width: 100%;
  margin: auto;
}

.playlist-header {
  width: 100%;
  overflow: hidden;
  transition: background-color 0.5s;
}

.play-button {
  padding-top: 10px;
  width: 15px;
  float: right;
}

.playlist-header:hover {
  background-color: #3d3a37;
  border-radius: 5px 5px 5px 5px;
}

.Playlist-image-container { 
  width: 100%;
}

.Playlist-image {
  width: 100%;
  margin: auto;
  transition: transform 0.5s;
}

.Playlist-image:hover {
  transform: scale(1.1, 1.1);
}

.Playlist-description {
  margin-left: 1%;
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;

}

.track-image {
  width: 5%;
  float: left;
  margin-top: 5px;
}

.track-content {
  margin-top: 3px;
  float: left;
  width: 100%;
  padding-left: 5px;
}

.track-url {
  float: right;
  width: 5%;
}

.track-container {
  overflow: hidden;
  transition: background-color 0.2s;
  padding: 10px;
  cursor: pointer;
}

.track-container:hover {
  background-color: #3d3a37;
}

.tracklist-container {
  overflow: auto;
}

.track-title {
  margin: 0;
}
.track-container:hover {
  background-color: #3d3a37;
}

img {
  width: 100%;
}

@media (min-width: 1250px) {
  .Playlists-container {
    grid-gap: 10px;
    grid-template-columns: 24% 24% 24% 24%;
  }
}

@media (max-width: 1000px) {
  .Playlists-container {
    grid-gap: 5px;
    grid-template-columns: 100%;
  }
}

@media (max-width: 978px) {
  .Playlists-container {
    grid-template-columns: 50% 50%;
  }
  .Playlist-container {
    overflow: auto;
    cursor: pointer;
    width: 175px;
  }
}

@media (max-width: 400px) {
  .Playlist-container {
    width: 100%;
  }
  .track-container {
    font-size: 0.7em;
  }
}
